@using StoreEP.Models
@model Produto
<div img src="@Model.ImagemProduto" class="well">
    <h3>
        <strong>@Model?.NM_Produto</strong>
        <span class="pull-right label label-primary"> 
            @Model?.Preco.ToString("c")
        </span>
    </h3>
    <span class="lead">@Model?.NM_Categoria</span>
</div>




