@{ 
    Layout = "_AdminLayout";
}
<div>
    <a asp-action="Criar">Criar novo produto</a>
</div>
<div>
    <a asp-action="Listar">Lista todos os produtos</a>
</div>
<div>
    <a asp-action="ValidarComentarios">Validar Comentários</a>
</div>