@{ 
    Layout = "_AdminLayout";
}
<div>
    <a asp-action="CriarProduto" asp-route-editarProdutoViewModel="null">Criar novo produto</a>
</div>
<div>
    <a asp-action="Listar" asp-controller="Admin">Lista todos os produtos</a>
</div>
<div>
    <a asp-action="ValidarComentarios">Validar Comentários</a>
</div>
<div>
    <a asp-action="Criar" asp-controller="Identidade">Criar novos perfis</a>
</div>