@model AdminIndexViewModel
@{
    Layout = "_AdminLayout";
}
<div>
    <a class="btn btn-info" asp-action="CriarProduto">Criar novo produto</a>
</div>
<div>
    <a asp-controller="Admin" asp-action="ListarTodosProdutos" asp-route-page="1" class="btn btn-primary">
        Lista de produtos <span class="badge">@Model.NumeroProdutosRegistrados</span>
    </a>
</div>
<div>
    <a asp-action="ValidarComentarios" class="btn btn-primary">
        Validar comentários <span class="badge">@Model.ComentariosNaoAprovados</span>
    </a>
</div>
<div>
    <a class="btn btn-info" asp-action="Criar" asp-controller="Identidade">Criar novos perfis</a>
</div>
<div>
    <a asp-action="ValidarComentarios" class="btn btn-primary">
        Pedidos não enviados <span class="badge">@Model.ProdutosNãoEnviados</span>
    </a>
</div>