@model StoreEP.Models.Produto

@{
    ViewData["Title"] = "Create";
}
<h2>Criar produto</h2>
<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Produto</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="NomePD" class="col-md-2 control-label">Nome do produto</label>
            <div class="col-md-10">
                <input asp-for="NomePD" class="form-control" />
                <span asp-validation-for="NomePD" class="text-danger"></span>
            </div>
        </div>
        <label asp-for="CategoriaPD" class="text-right control-label ">Categoria</label>
        <select asp-for="CategoriaPD" class="combobox input-large form-control">
            <option></option>
            <option value="Moda e acessórios">Moda e acessórios</option>
            <option value="Eletrodomésticos">Eletrodomésticos</option>
            <option value="Telefonia/Celulares">Telefonia/Celulares</option>
            <option value="Casa e decoração">Casa e decoração</option>
            <option value="Informática">Informática</option>
        </select>

        <div class="form-group">
            <label asp-for="PrecoPD" class="col-md-2 control-label">Preço</label>
            <div class="col-md-10">
                <input asp-for="PrecoPD" class="form-control" />
                <span asp-validation-for="PrecoPD" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DescricaoPD" class="col-md-2 control-label">Descrição</label>
            <div class="col-md-10">
                <input asp-for="DescricaoPD" class="form-control" />
                <span asp-validation-for="DescricaoPD" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LinkImagemPD" class="col-md-2 control-label">Link da imagem</label>
            <div class="col-md-10">
                <input asp-for="LinkImagemPD" class="form-control" />
                <span asp-validation-for="LinkImagemPD" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Fabricante" class="col-md-2 control-label">Fabricante</label>
            <div class="col-md-10">
                <input asp-for="Fabricante" class="form-control" />
                <span asp-validation-for="Fabricante" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-8 left">
            <img id="img_produto" class="img-thumbnail" src="http://pulauhp.com/pemesanan/produk/no-image.jpg" style="width:100px; height: 100px; margin: 10px 0 10px 0;" />
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Criar" class="btn btn-primary"/>
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Voltar a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
