@model StoreEP.Models.Produto

@{
    ViewData["Title"] = "Edit";
}

<h2>Editar</h2>
<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Produto</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ProdutoID" />
        <div class="form-group">
            <label asp-for="NomePD" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="NomePD" class="form-control" />
                <span asp-validation-for="NomePD" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CategoriaPD" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CategoriaPD" class="form-control" />
                <span asp-validation-for="CategoriaPD" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PrecoPD" class="col-md-2 control-label">Preço</label>
            <div class="col-md-10">
                <input asp-for="PrecoPD" class="form-control" />
                <span asp-validation-for="PrecoPD" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DescricaoPD" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DescricaoPD" class="form-control" />
                <span asp-validation-for="DescricaoPD" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LinkImagemPD" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LinkImagemPD" class="form-control" />
                <span asp-validation-for="LinkImagemPD" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Fabricante" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Fabricante" class="form-control" />
                <span asp-validation-for="Fabricante" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
