@model IEnumerable<StoreEP.Models.Produto>

@{
    ViewData["Title"] = "Index";
}
@foreach (var p in Model)
{
    <figure class="snip1423">
        <img src="@p?.LinkImagemPD" alt="@p?.NomePD" />
        <figcaption>
            <h3>@p?.NomePD</h3>
            <p>@p?.DescricaoPD</p>
            <div class="price">
                @{
                    var x = $"{(decimal)p?.PrecoPD * 1.1M:c2}";
                }
                <s>@x</s>@p?.PrecoPD.ToString("c")
            </div>
        </figcaption><i class="ion-android-cart"></i>
        <a href="#"></a>
    </figure>
 }
