@model IEnumerable<string>
<ul class="nav nav-pills nav-stacked">
    @foreach (string category in Model)
    {
        <li role="presentation" class="@(category == ViewBag.SelectedCategory ? "active" : "")">
            <a asp-action="Listar"
               asp-controller="Produtos"
               asp-route-category="@category"
               asp-route-page="1">
                @category
            </a>
        </li>
    }
</ul>