@model IEnumerable<string>
@foreach (string category in Model)
{
    <a class="btn @(category == ViewBag.SelectedCAtegory ? "btn-primary" : "btn-default")"
       asp-action="Listar"
       asp-controller="Produtos"
       asp-route-category="@category"
       asp-route-page="1">
        @category
    </a>
}
