@model StoreEP.Models.Produto

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Produto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProdutoID" />
            <div class="form-group">
                <label asp-for="NomePD" class="control-label"></label>
                <input asp-for="NomePD" class="form-control" />
                <span asp-validation-for="NomePD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoriaPD" class="control-label"></label>
                <input asp-for="CategoriaPD" class="form-control" />
                <span asp-validation-for="CategoriaPD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecoPD" class="control-label"></label>
                <input asp-for="PrecoPD" class="form-control" />
                <span asp-validation-for="PrecoPD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescricaoPD" class="control-label"></label>
                <input asp-for="DescricaoPD" class="form-control" />
                <span asp-validation-for="DescricaoPD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LinkImagemPD" class="control-label"></label>
                <input asp-for="LinkImagemPD" class="form-control" />
                <span asp-validation-for="LinkImagemPD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fabricante" class="control-label"></label>
                <input asp-for="Fabricante" class="form-control" />
                <span asp-validation-for="Fabricante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
