@model string
<div class="bg-primary panel-body">
    <h4>Criar Identidade</h4>
</div>
<form asp-action="Criar" method="post">
    <div class="form-group">
        <label for="name"></label>
        <input name="name" class="btn btn-default" />
    </div>
    <button type="submit" class="btn btn-primary">Criar</button>
    <a asp-action="Index" class="btn btn-default">Cancelar</a>
</form>
