@model IEnumerable<Order>
@{ 
    ViewBag.Title = "Pedidos";
    Layout = "_AdminLayout";
}
@if (Model.Count() > 0)
{
    <table class="table table-bordered table-striped">
        <tr>
            <th>ID</th><th>Nome</th><th>Zip</th><th colspan="2">Detalhes</th><th></th>
        </tr>
        @foreach (Order o in Model)
        {
            <tr>
                <td>@o?.OrderID</td><td>@o?.Nome</td><td>@o?.Zip</td><td>Produto</td><td>Quantidade</td>
                <td>
                    <form asp-action="MarkShipped" method="post" >
                        <input type="hidden" name="orderID" value="@o.OrderID" />
                        <button type="submit" class="btn btn-sm btn-danger">Enviar</button>
                    </form>
                </td>
            </tr>
            @foreach (CartLine line in o.Lines)
            {
                <tr>
                    <td colspan="2"></td>
                    <td></td>
                    <td>@line.Produto?.NomePD</td>
                    <td>@line?.Quantidade</td>
                </tr>
            }
        }    
    </table>
}else{
    <div class="text-center">No Unshipped Orders</div>
}