<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet"asp-href-include="lib/bootstrap/dist/css/*.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-theme.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>@ViewBag.Title</title>
    <script asp-src-include="lib/jquery/**/jquery.min.js"></script>
    <script asp-src-include="lib/jquery-validation/**/jquery.validade.min.js"></script>
    <style>
        .mdl-badge.mdl-badge--overlap::after {
            right: -7px;
            width: 15px;
            height: 15px;
            font-size: 10px;
            top: -10px;
            background: black;
        }
        body {
            background-color: #e8e8e8;
        }
    </style>
</head>
<body>
    <div class="collapse navbar-collapse" role="navigation">
        <a asp-controller="Produtos" asp-action="Listar" class="navbar-brand">Loja</a>
        @await Html.PartialAsync("_LoginPartial")
        <div class="pull-right">
            @await Component.InvokeAsync("CartSummary")
        </div>
        <a asp-controller="Admin" asp-action="Index" class="navbar-brand">Gerenciar</a>
    </div>
    <div class="panel-body">
        @RenderBody()
    </div>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery.maskedinput/dist/jquery.maskedinput.min.js"></script>
    <script type="text/javascript" src="~/lib/masked-input/masked-input.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap-combobox/js/bootstrap-combobox.js"></script>
    <script type="text/javascript" src="~/js/endereco/criar.js"></script>
</body>
</html>
