<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet"asp-href-include="lib/bootstrap/dist/css/*.css" />
    <title>@ViewBag.Title</title>
    <style>
        .input-validation-error {
            border-color: red;
            background-color: #fee;
        }
    </style>
    <script asp-src-include="lib/jquery/**/jquery.min.js"></script>
    <script asp-src-include="lib/jquery-validation/**/jquery.validade.min.js"></script>
</head>
<body>
    <div class="navbar navbar-default" role="navigation">
        <a asp-controller="Produtos" asp-action="List" class="navbar-brand">Loja</a>
        @await Html.PartialAsync("_LoginPartial")
        <div class="pull-right">
            @await Component.InvokeAsync("CartSummary")
        </div>
        <a asp-controller="Admin" asp-action="Edit" class="navbar-brand">Criar</a>
    </div>
    <div class="panel-body">
        @if (TempData["massage"] != null)
            {
            <div class="alert alert-success">@TempData["massage"]</div>
        }
        @RenderBody()
    </div>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery.maskedinput/dist/jquery.maskedinput.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap-combobox/js/bootstrap-combobox.js"></script>
    <script type="text/javascript" src="~/lib/material-design-lite/material.min.js"></script>
    <script type="text/javascript" src="~/js/produto/create.js"></script>
    <script type="text/javascript" src="~/js/address/create.js"></script>

</body>
</html>
