<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet"asp-href-include="lib/bootstrap/dist/css/*.css" />
    <title>@ViewBag.Title</title>
    <style>        
        .input-validation-error {
            border-color:red;
            background-color: #fee;
        }
    </style>
    <script asp-src-include="lib/jquery/**/jquery.min.js"></script>
    <script asp-src-include="lib/jquery-validation/**/jquery.validade.min.js"></script>
</head>
<body class="panel panel-default">
    <div class="panel-heading">
        <h4>@ViewBag.Title</h4>
    </div>
    <div class="panel-body">
        @if (TempData["massage"] != null)
        {
            <div class="alert alert-success">@TempData["massage"]</div>
        }
        @RenderBody()
    </div>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery.maskedinput/dist/jquery.maskedinput.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap-combobox/js/bootstrap-combobox.js"></script>
    <script type="text/javascript" src="~/js/produto/create.js"></script>
    <script type="text/javascript" src="~/js/address/create.js"></script>
</body>
</html>