@model StoreEP.Models.Produto
<div class="well">
    <h3>
        <strong>@Model?.NomePD</strong>
        <span class="pull-right label label-primary">
            @Model?.PrecoPD.ToString("c")
        </span> 
    </h3>
    <form id="@Model?.ProdutoID" asp-action="AddToCart" asp-controller="Carrinho" method="post">
        <input type="hidden" asp-for="ProdutoID"/>
        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
        <span class="lead">
            @Model?.DescricaoPD
            <button type="submit" class="btn btn-success btn-sm pull-right">
                Adicionar ao carrinho
            </button> 
        </span>
    </form>
</div>



