@model FiltroViewModel
<form asp-action="Ordenar" asp-controller="Produtos" method="post" class="navbar-form navbar-left">
    <div>
        <div class="input-group">
            <select asp-for="@Model.Filtro" asp-items="@Model.ComboboxFiltros" class="form-control form-control-sm"></select>
            <span class="input-group-btn">
                <button class="btn btn-secondary" type="submit">Ordenar</button>
            </span>
        </div>
    </div>
</form>
