@model FiltroViewModel

<form asp-action="Filtrar" asp-controller="Produtos" method="post" class="navbar-form navbar-left">
    <select asp-for="@Model.Filtro" asp-items="@Model.ComboboxFiltros" class="form-control form-control-sm"></select>
    <span><button class="btn btn-sm btn-primary" type="submit">Ordenar</button></span>
</form>
