<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StoreEP</title>
    <base href="~/" />
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css" />
    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
    <link rel="stylesheet" asp-href-include="/lib/fontawesome/css/*.css" />
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap-combobox/js/bootstrap-combobox.js"></script>
    <script type="text/javascript" src="~/lib/jquery.maskedinput/dist/jquery.maskedinput.min.js"></script>
</head>
<body> 
    <div class="navbar navbar-inverse" role="navigation">
        <a class="navbar-brand" href="#">Loja</a>
        @await Html.PartialAsync("_LoginPartial")
        <div class="pull-right">
            @await Component.InvokeAsync("CartSummary")
        </div>
        <a asp-action="Create" class="navbar-brand">Criar</a>
    </div>
    <div class="panel">
        <div id="categories" class="col-xs-3">
            @await Component.InvokeAsync("NavigationMenu")
        </div>
        <div class="col-xs-9">
            @RenderBody()
            @RenderSection("scripts", required: false)
        </div>
    </div>
</body>
</html>
