<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StoreEP</title>
    <base href="~/" />

    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/cardprodutc.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/js/cardstore.js" asp-append-version="true" />
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
</head>
<body>
    <div class="navbar navbar-inverse" role="navigation">
        <a class="navbar-brand" href="#">Loja</a>
        <a asp-action="Create" class="navbar-brand">Criar</a>
    </div>
    <div class="row panel">
        <div id="categories" class="col-xs-3">

        </div>
        <div class="col-xs-8">
            @RenderBody()
            @RenderSection("scripts", required: false)
        </div>
    </div>

</body>
</html>
