@using Microsoft.AspNetCore.Identity
@using StoreEP.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@UserManager.GetUserName(User) <span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li><a asp-controller="Pedido" asp-action="ListarPedidos">Pedidos</a></li>
        <li role="separator" class="divider"></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Logout">Sair</a></li>
    </ul>
}
else
{
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Usuário <span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li>
            <a asp-area="" asp-controller="Account" asp-action="Register" asp-route-returnUrl="@ViewContext.HttpContext.Request.PathAndQuery()">
                Registrar
            </a>
        </li>
        <li>
            <a asp-area="" asp-controller="Account" asp-action="Login">
                Entrar
            </a>
        </li>
    </ul>
}
