@using StoreEP.Models
@model Carrinho
<div class="">
    @if (Model.Lines.Count() > 0)
    {
        <small class="navbar-text">
            <b>Seu carrinho:</b>
            @Model.Lines.Sum(x => x.Quantidade) item(s)
            @Model.ValorTotal().ToString("c")
        </small>
    }
    <a class="btn btn-sm btn-default navbar-btn" asp-controller="Carrinho" asp-action="Index" asp-route-returnurl="@ViewContext.HttpContext.Request.PathAndQuery()">
        <i class="fa fa-shopping-Carrinho"></i>
    </a>
</div>
