@using StoreEP.Models
@model Carrinho
<div class="navbar-brand">
    <a asp-controller="Carrinho"
       asp-action="Index"
       asp-route-returnUrl="@ViewContext.HttpContext.Request.PathAndQuery()"
       class="btn btn-primary btn-sm" style="position: relative; bottom: 6px;">
        Carrinho <span class="badge">@Model.QuantidadeTotal()</span>
    </a>
</div>
