@model Endereco
@{
    ViewBag.Title = "Criar novo endereço";
    Layout = "_AdminLayout";
}
<div >

    <form asp-action="Criar" method="post" class="content-grid mdl-grid">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell">
            <label class="mdl-textfield__label">Rua</label>
            <input asp-for="Rua" class="mdl-textfield__input" />
            <div><span asp-validation-for="Rua" class="text-danger"></span></div>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell">
            <label class="mdl-textfield__label">Bairro</label>
            <input asp-for="Bairro" class="mdl-textfield__input" />
            <div><span asp-validation-for="Bairro" class="text-danger mdl-cell--4-col"></span></div>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell">
            <label class="mdl-textfield__label">Número</label>
            <input asp-for="Numero" class="mdl-textfield__input" />
            <div><span asp-validation-for="Numero" class="text-danger"></span></div>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell">
            <label class="mdl-textfield__label">Cidade</label>
            <input asp-for="Cidade" class="mdl-textfield__input" />
            <div><span asp-validation-for="Cidade" class="text-danger"></span></div>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell">
            <label class="mdl-textfield__label">Estado</label>
            <input asp-for="Estado" class="mdl-textfield__input" />
            <div><span asp-validation-for="Estado" class="text-danger"></span></div>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell">
            <label class="mdl-textfield__label">Cep</label>
            <input asp-for="CEP" class="mdl-textfield__input" />
            <div><span asp-validation-for="CEP" class="text-danger"></span></div>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell">
            <label class="mdl-textfield__label">País</label>
            <input asp-for="Pais" class="mdl-textfield__input" />
            <div><span asp-validation-for="Pais" class="text-danger"></span></div>
        </div>
        <div class="mdl-cell--bottom">
            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                Criar
            </button>
        </div>
    </form>
</div>