@model IEnumerable<Endereco>
@{
    ViewBag.Title = "Lista de Endereços";
    Layout = "_Layout";
}
<div class="container">
    <div class="row">
        @foreach (var endereco in Model)
        {
            @Html.Partial("_CartaoEndereco", endereco)
        }
    </div>
    <form method="post" asp-action="Criar">
        <div class="text-center">
            <button type="submit" class="btn btn-default btn-xs">Criar novo</button>
        </div>
    </form>
</div>